<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JSON Paste</title>
        <style>
            html, body, form {
                height: 100%;
                margin-bottom: 0;
                margin-top: 0;
            }
            input {
                margin-top: 10px;
                margin-bottom: 10px;
                width: 99%;
                font-size: 20pt;
            }
            textarea {
                width: 99%;
                height: 90%;
            }
        </style>
    </head>
    <body>
        <form action="@routes.Application.json()" method="post">
            <input type="submit" value="To JSON">
            <br/>
            <textarea id="json" name="json" title="JSON"></textarea>
        </form>

        <script>
            document.getElementById("json").focus();
        </script>
    </body>
</html>
